@use '../abstracts' as *;

.och-section-index-programas .och-card {
    padding: 2.5rem 1.875rem 4rem;

    .och-card-description { margin-top: 2.5rem; }
    .och-btn {
        width: 100%;
        max-width: 15.375rem;
        margin-top: 4.75rem;

        &:hover {
            background-color: var(--och-beige);
        }
    }
}

.och-section-index-articulos, .och-section-articulos-articulos, .och-section-articulo-relacionados {

    .och-card {
        .och-card-img { width: 100%; height: auto; }
        .och-card-title { margin-top: 1rem; color: var(--och-black); }
        .och-card-description { margin-top: 1.75rem; }
    }
}

.och-section-quiensoy-info .och-card {
    padding-top: 1.875rem;
    border-top: 1px solid var(--och-gray);

    .och-card-title { margin-bottom: 2.25rem; }
    .och-card-description { margin-bottom: 3.25rem; }
}

@include desktop {
    .och-section-index-programas .och-card {
        display: grid;
        grid-template-rows: auto auto 1fr;
        align-items: flex-end;
        grid-template-areas: "title" "descr" "btn";
    }

    .och-section-quiensoy-info .och-card {
        padding-right: 2.25rem;
        border-top: 0;

        &:not(:last-child) {
            border-right: 1px solid var(--och-gray);
        }
        
    }

    .och-section-articulos-articulos .och-card {
        .och-card-title { margin-top: 1.875rem; }
        .och-card-description { margin-top: 1.75rem; }
    }
}



.och-card-red {
    background-color: var(--och-red);
}

.och-card-green {
    background-color: var(--och-green);
}

.och-card-blue {
    background-color: var(--och-blue);
}