@use '../abstracts' as *;

.och-list-container {

    .och-carousel {
        margin-bottom: 3.125rem;
        display: flex;

        .och-list {
            min-width: 100vw;
            padding: 0 var(--och-lateral-margin);

            display: flex;
            flex-direction: column;
            align-items: center;

            position: relative;
            left: calc(0px - var(--och-lateral-margin));

            .och-list-enum { padding-bottom: .625rem; }
            .och-list-title { padding-bottom: 2.25rem; }
        }
    }

    .och-list-controller-container {
        width: 100vw;
        margin-left: calc(0px - var(--och-lateral-margin));
        justify-content: center;
        display: flex;

        .och-list-controller {
            width: 4.875rem;
            height: 4.875rem;
            padding: 1.5rem;
            border: 1px solid var(--och-gray);;

            display: flex;
            justify-content: center;
            align-content: center;

            border-radius: 50rem;

            &:first-of-type { margin-right: var(--och-column-gap); }
        }
    }
}

.och-list-extended-container {
    display: flex;
    flex-direction: column;

    .och-list-extended {
        padding: 1rem 0 4.375rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        border-top: 1px solid #999;

        .och-list-enum {
            margin-bottom: 1.125rem;
        }

        .och-list-title {
            margin-bottom: 1.25rem;
        }

        & > .och-description {
            margin-bottom: 2.5rem;
        }

        li:not(:last-child) {
            margin-bottom: 1.25rem;
        }

        li {
            font-size: 0.9375rem;
            line-height: 24px;
            font-family: 'Open Sans';
            font-weight: 400;
        }
    }
}

@include desktop {
    .och-list-container {
        display: grid;
        column-gap: var(--och-column-gap);
        grid-template-columns: repeat(12, 1fr);
        grid-template-areas: 
            "l1 l1 l2 l2 l3 l3 l4 l4 l5 l5 l6 l6";

        position: relative;

        .och-list:nth-of-type(1) { grid-area: l1; }
        .och-list:nth-of-type(2) { grid-area: l2; }
        .och-list:nth-of-type(3) { grid-area: l3; }
        .och-list:nth-of-type(4) { grid-area: l4; }
        .och-list:nth-of-type(5) { grid-area: l5; }
        .och-list:nth-of-type(6) { grid-area: l6; /* margin-top: 3rem; */ }

        .och-list {
            display: grid;
            grid-template-rows: auto 6.25rem 1fr;
            justify-content: center;
            z-index: 1;

            .och-list-enum {
                justify-self: center;
                width: 8rem;
                margin-bottom: 2rem;
                background-color: var(--och-blue);

            }

            .och-list-title { padding: 0 2rem; }
        } 

        &::before {
            content: '';
            position: absolute;
            z-index: 0;
            height: 1px;
            width: 90%;
            background-color: var(--och-gray);
            top: 1rem
        }
    }

    .och-list-extended-container {

        .och-list-extended {
            padding: 2rem 0 4.375rem;
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: auto auto 1fr;
            grid-template-areas: 
                "enum . . . . . . . . . . ."
                "title title . . . . .  list list list list ."
                "desc desc desc desc desc desc . list list list list . ";

            .och-list-enum { grid-area: enum; text-align: left; margin-bottom: 1.125rem; }
            .och-list-title { grid-area: title; text-align: left; margin-bottom: 1.5625rem; }
            .och-description { grid-area: desc !important; }
            ul {
                grid-area: list;

                li {
                    font-size: 1.3125rem;
                    line-height: 34px;
                    font-family: 'Open Sans';
                    font-weight: 400;
                }
            }
        }
    }
}