@use '../abstracts' as *;

:root {
    // Colores
    @each $key, $value in $och-colors {
        --och-#{$key}: #{$value};
    }

    // Más variables
    --och-lateral-margin: #{$och-lateral-margin};
    --och-column-gap: #{$och-column-gap};
}

@include desktop {
    :root {
        --och-lateral-margin: #{$och-lateral-margin-desktop};
    }
}