$och-colors: (
    white:      #FFFFFF,
    black:      #000000,
    gray:       #707070,
    beige:      #fcf5ef,
    yellow:     #fdfde5,
    blue:       #e7edf3,
    green:      #e6ede7,
    red:        #f2d9d2
);