// ---- TIPO DE FUENTE ----

$och-fonts: ( // font family, weight, normal o italic, ubi de la fuente
    ('Open Sans', 300, normal, 'OpenSans/OpenSans-Light.ttf'),
    ('Open Sans', 300, italic, 'OpenSans/OpenSans-LightItalic.ttf'),
    ('Open Sans', 400, normal, 'OpenSans/OpenSans-Regular.ttf'),
    ('Open Sans', 400, italic, 'OpenSans/OpenSans-Italic.ttf'),
    ('Open Sans', 600, normal, 'OpenSans/OpenSans-SemiBold.ttf'),
    ('Open Sans', 600, italic, 'OpenSans/OpenSans-SemiBoldItalic.ttf'),
    ('Open Sans', 700, normal, 'OpenSans/OpenSans-Bold.ttf'),
    ('Open Sans', 700, italic, 'OpenSans/OpenSans-BoldItalic.ttf'),
    ('Open Sans', 800, normal, 'OpenSans/OpenSans-ExtraBold.ttf'),
    ('Open Sans', 800, italic, 'OpenSans/OpenSans-ExtraBoldItalic.ttf'),

    ('Open Sans Condensed', 300, normal, 'OpenSansCondensed/OpenSansCondensed-Light.ttf'),
    ('Open Sans Condensed', 300, italic, 'OpenSansCondensed/OpenSansCondensed-LightItalic.ttf'),
    ('Open Sans Condensed', 700, normal, 'OpenSansCondensed/OpenSansCondensed-Bold.ttf'),

    ('Libre Baskerville', 400, normal, 'LibreBaskerville/LibreBaskerville-Regular.ttf'),
    ('Libre Baskerville', 400, italic, 'LibreBaskerville/LibreBaskerville-Italic.ttf'),
    ('Libre Baskerville', 700, normal, 'LibreBaskerville/LibreBaskerville-Bold.ttf'),
);

$och-letter-spacing: -0.025rem;

$och-typo: (
    '': (
        title: (
            font-size: (2.5rem, 5rem),
            line-height: (48px, 90px),
            font-family: "Libre Baskerville",
            font-weight: 400,
            letter-spacing: $och-letter-spacing
        ),
        section-title: (
            font-size: (2rem, 3rem),
            line-height: (46px, 60px),
            font-family: "Libre Baskerville",
            font-weight: 400,
            letter-spacing: $och-letter-spacing
        ),
        description: (
            font-size: (.9375rem, 1.3125rem),
            line-height: (24px, 34px),
            font-family: "Open Sans",
            font-weight: 400
        ),
        link: (
            font-size: (.9375rem, 1.0625rem),
            line-height: (24px, 27px)
        )
    ),
    card: (
        title: (
            font-size: (1.5rem, 2rem),
            line-height: (36px, 46px),
            font-family: "Libre Baskerville",
            font-weight: 400,
            letter-spacing: $och-letter-spacing
        ),
        description: (
            font-size: (.9375rem, 1.0625rem),
            line-height: (24px, 27px)
        )
    ),
    list: (
        title: (
            font-size: (1.75rem, 1.75rem),
            line-height: (36px, 36px),
            font-family: "Open Sans Condensed",
            font-weight: 700,
            letter-spacing: $och-letter-spacing,
            text-align: center
        ),
        enum: (
            font-size: (3rem, 3rem),
            line-height: (36px, 36px),
            font-family: "Open Sans Condensed",
            font-weight: 700,
            letter-spacing: $och-letter-spacing,
            text-align: center
        ),
        description: (
            font-size: (1.125rem, 1.125rem),
            line-height: (28px, 28px),
            font-family: "Libre Baskerville",
            font-style: italic,
            color: var(--och-gray),
            text-align: center
        )
    ),
    form: (
        title: (
            font-size: (1rem, 1.5rem),
            line-height: (25px, 36px),
            font-family: "Libre Baskerville",
            font-weight: 400,
            letter-spacing: $och-letter-spacing
        ),
        description: (
            font-size: (.875rem, .9375rem),
            line-height: (19px, 21px),
            color: var(--och-gray),
            font-family: "Open Sans",
            font-weight: 400
        )
    ),
    header: (
        title: (
            font-size: (1.875rem, 1.875rem),
            line-height: (36px, 36px),
            font-family: "Open Sans Condensed",
            font-weight: 700,
            letter-spacing: $och-letter-spacing,
            color: var(--och-black)
        ),
        menu: (
            font-size: (1.5rem, 1.5rem),
            line-height: (36px, 46px),
            font-family: "Libre Baskerville",
            letter-spacing: $och-letter-spacing
        )
    )
);