//  ---- GRID ----
//
//                           Escritorio      Móvil
//  Número de columnas      12              4
//  Espacio entre columnas  32              32
//  Anchura de columna      107             60      (Esta fila no importa mucho)
//  Margen lateral          142             38
//

$och-lateral-margin: 2.375rem;
$och-lateral-margin-desktop: 8.875rem;
$och-column-gap: 2rem;

// ---- HEADER ----

$och-padding-top-header: 2.75rem;
