*, *::before, *::after {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Open Sans";
  overflow-x: hidden;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul, ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img, picture {
  max-width: 100%;
  display: block;
}

input, button, textarea, select {
  font: inherit;
}

:root {
  --och-white: #FFFFFF;
  --och-black: #000000;
  --och-gray: #707070;
  --och-beige: #fcf5ef;
  --och-yellow: #fdfde5;
  --och-blue: #e7edf3;
  --och-green: #e6ede7;
  --och-red: #f2d9d2;
  --och-lateral-margin: 2.375rem;
  --och-column-gap: 2rem;
}

@media only screen and (min-width: 1023px) {
  :root {
    --och-lateral-margin: 8.875rem;
  }
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"), url("../fonts/OpenSans/OpenSans-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: local("Open Sans Condensed"), url("../fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: local("Open Sans Condensed"), url("../fonts/OpenSansCondensed/OpenSansCondensed-LightItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans Condensed";
  src: local("Open Sans Condensed"), url("../fonts/OpenSansCondensed/OpenSansCondensed-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"), url("../fonts/LibreBaskerville/LibreBaskerville-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"), url("../fonts/LibreBaskerville/LibreBaskerville-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Libre Baskerville";
  src: local("Libre Baskerville"), url("../fonts/LibreBaskerville/LibreBaskerville-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
.och-title {
  font-size: 2.5rem;
  line-height: 48px;
}

.och-section-title {
  font-size: 2rem;
  line-height: 46px;
}

.och-description {
  font-size: 0.9375rem;
  line-height: 24px;
}

.och-link {
  font-size: 0.9375rem;
  line-height: 24px;
}

.och-card-title {
  font-size: 1.5rem;
  line-height: 36px;
}

.och-card-description {
  font-size: 0.9375rem;
  line-height: 24px;
}

.och-list-title {
  font-size: 1.75rem;
  line-height: 36px;
}

.och-list-enum {
  font-size: 3rem;
  line-height: 36px;
}

.och-list-description {
  font-size: 1.125rem;
  line-height: 28rem;
}

.och-form-title {
  font-size: 1rem;
  line-height: 25px;
}

.och-form-description {
  font-size: 0.875rem;
  line-height: 19px;
}

.och-header-title {
  font-size: 1.875rem;
  line-height: 36px;
  font-family: Open Sans Condensed;
  font-weight: 700;
  letter-spacing: -0.025rem;
}

.och-header-menu {
  font-size: 1.5rem;
  line-height: 36px;
  font-family: Libre Baskerville;
  letter-spacing: -0.025rem;
}

@media only screen and (min-width: 1023px) {
  .och-title {
    font-size: 5rem;
    line-height: 90px;
  }

  .och-section-title {
    font-size: 3rem;
    line-height: 60px;
  }

  .och-description {
    font-size: 1.3125rem;
    line-height: 34px;
  }

  .och-link {
    font-size: 1.0625rem;
    line-height: 27px;
  }

  .och-card-title {
    font-size: 2rem;
    line-height: 46px;
  }

  .och-card-description {
    font-size: 1.0625rem;
    line-height: 27px;
  }

  .och-list-title {
    font-size: 1.75rem;
    line-height: 36px;
  }

  .och-list-enum {
    font-size: 3rem;
    line-height: 36px;
  }

  .och-list-description {
    font-size: 1.125rem;
    line-height: 28px;
  }

  .och-form-title {
    font-size: 1.5rem;
    line-height: 36px;
  }

  .och-form-description {
    font-size: 0.9375rem;
    line-height: 21px;
  }

  .och-header-title {
    font-size: 1.875rem;
    line-height: 36px;
    font-family: Open Sans Condensed;
    font-weight: 700;
    letter-spacing: -0.025rem;
  }

  .och-header-menu {
    font-size: 1.5rem;
    line-height: 46px;
    font-family: Libre Baskerville;
    letter-spacing: -0.025rem;
  }
}
.och-header {
  padding-top: 2.75rem;
  margin: 0 var(--och-lateral-margin);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.och-header .och-header-title {
  color: var(--och-black);
}
.och-header .och-header-menu-icon {
  position: relative;
  z-index: 3;
  cursor: pointer;
}
.och-header .och-nav {
  padding: 0 var(--och-lateral-margin);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-areas: ". menu menu menu";
  column-gap: var(--och-column-gap);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 2;
  transform: translateX(100%);
  transition: transform ease-in-out 0.3s;
}
.och-header .och-nav .och-header-menu {
  grid-area: menu;
  padding-top: 9.375rem;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}
.och-header .och-nav .och-header-menu * {
  padding-bottom: 1.25rem;
  color: var(--och-black);
}
.och-header .och-nav::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: var(--och-lateral-margin);
  bottom: 0;
  z-index: 1;
  background-color: var(--och-red);
}

@media only screen and (min-width: 1023px) {
  .och-header .och-nav {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: ". . . . . . . . b menu menu menu";
  }
  .och-header .och-nav::after {
    grid-row-start: b;
    grid-column-start: b;
    grid-row-end: b;
    grid-column-end: menu;
    margin-right: calc(0px - var(--och-lateral-margin));
    left: 0;
  }
}

/*# sourceMappingURL=style.css.map */
