@use '../abstracts' as *;

.och-footer {
    padding: 11rem var(--och-lateral-margin) 2.875rem;

    display: grid; 
    column-gap: var(--och-column-gap);
    justify-content: stretch;
    grid-template-areas: 
        "title1 title1 title1 title1"
        "newsle newsle newsle newsle"
        "title2 title2 title2 title2"
        "contac contac contac contac"
        "links  links  links  links";

    .och-section-title:nth-of-type(1) { grid-area: title1; }
    .och-section-title:nth-of-type(2) {
        grid-area: title2;
        margin-top: 6.25rem;
    }
    .och-form-newsletter { grid-area: newsle; }
    .och-form-contacto { grid-area: contac; }
    .och-footer-links {
        grid-area: links;

        margin-top: 12rem;

        display: flex;
        flex-direction: column;
        justify-content: center;

        .och-rrss, .och-info {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;

            li {
                margin-top: .875rem;

                a {
                    color: var(--och-gray);
                    &:last-child {
                        padding-right: .4rem;
                    }
                }
            }
        }
    }
}

@include desktop {
    .och-footer {
        grid-template-areas: 
            "title1 title1 title1 title1 title1 title1 title2 title2 title2 title2 title2 title2"
            "newsle newsle newsle newsle newsle .      contac contac contac contac contac contac"
            "links  links  links  links  links  links  links  links  links  links  links  links";

        .och-section-title:nth-of-type(2) { margin-top: 0rem; }
    }

    .och-footer-links {
        flex-direction: row !important;
        justify-content: space-between !important;

        .och-rrss, .och-info {
            flex-wrap: nowrap;
            justify-content: flex-start;

            li:not(:last-of-type) {
                margin-right: 2.625rem;
            }
        }
    }
}