@use '../abstracts' as *;

.och-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: absolute;
    z-index: 5;
    top: var(--och-padding-top-header);
    left: var(--och-lateral-margin);
    right: var(--och-lateral-margin);

    .och-header-links-container {
        display: flex;
        align-items: center;
    }

    .och-btn { display: none; }

    .och-header-menu-icon {
        position: absolute;
        z-index: 5;
        right: 0;

        cursor: pointer;
    }

    .och-nav {
        height: 100vh;

        display: grid;
        column-gap: var(--och-column-gap);
        grid-template-columns: repeat(4, 1fr);
        grid-template-areas: "bg menu menu menu";

        position: absolute;
        z-index: 4;
        top: calc(0px - var(--och-padding-top-header));
        left: 0;
        right: calc(0px - var(--och-lateral-margin));

        transform: translateX(100%);
        transition: transform ease-in-out .3s;
        
        .och-header-menu {
            grid-area: menu;

            padding-top: 9.375rem;

            display: flex;
            flex-direction: column;

            position: relative;
            z-index: 2;

            * {
                color: var(--och-black);
            }

            .current-menu-item {
                font-style: italic;
            }

            a {
                display: inline-block;
                padding-bottom: 1.25rem;
            }

            ul {
                margin-left: 2rem;

                
            }
        }

        &::after {
            content: '';
            grid-column-start: bg;
            grid-column-end: menu;
            grid-row-start: bg;
            grid-row-end: bg;

            position: relative;
            z-index: 1;

            background-color: var(--och-red);
        }
    }
}

@include desktop {
    .och-header {
        .och-nav {
            grid-template-columns: repeat(12, 1fr);
            grid-template-areas: ". . . . . . . . bg menu menu menu";
        }
        .och-btn {
            display: flex;
            margin-right: 4rem;
        }
    }
}