@use '../abstracts' as *;

/* #region ---- Principal ---- */

/* #region Index */

.och-section-index-init {
    margin-top: 0 !important;

    grid-template-areas: 
        "title title title title"
        "img img img img"
        "descr descr descr descr"
        "btn btn btn .";


    .och-title {
        height: 100vh;

        display: flex;
        align-items: flex-end;
        padding-bottom: 3.125rem;
    }

    .och-img { padding-top: 3.125rem; margin-top: 3.125rem; }
    .och-description { margin-top: 1.875rem; }
    .och-btn { margin-top: 2.5rem; }
}

@include desktop {
    .och-section-index-init {

        grid-template-areas: 
            "title title title title title title title . . . . ."
            "img img img img img . descr descr descr descr descr descr"
            "img img img img img . btn btn . . . .";
    }
}

/* #endregion Index */

/* #region Metodo */

.och-section-index-metodo {
    grid-template-areas: 
        "title title title title"
        "descr descr descr descr"
        "list list list list";

    .och-section-title { padding-bottom: 1.5rem; }
    .och-description {
        width: 100vw;
        padding: 0 var(--och-lateral-margin) 4.6875rem;

        position: relative;
        left: calc(0px - var(--och-lateral-margin));
    }
}

@include desktop {
    .och-section-index-metodo {
        grid-template-areas: 
            "title title title title title title descr descr descr descr descr descr"
            ". . . . . . btn btn . . . ."
            "list list list list list list list list list list list list";
    }
}

/* #endregion Metodo */

/* #region Programas */

.och-section-index-programas {
    grid-template-areas: 
        "title title title title"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3";
    row-gap: 3.125rem;
}

@include desktop {
    .och-section-index-programas {
        grid-template-areas: 
            "title title title title title title title . . . . ."
            "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3";
    }
}

/* #endregion Programas */

/* #region Artículos */

.och-section-index-articulos {
    grid-template-areas: 
        "title title title title"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3";

    .och-card:nth-of-type(1) { margin-top: 3.75rem; }
    .och-card:nth-of-type(2), .och-card:nth-of-type(3) { margin-top: 4.625rem; }
}

@include desktop {
    .och-section-index-articulos {
        grid-template-areas: 
            "title title title title title title title . . . . ."
            "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3";
    }
}

/* #endregion Artículos */

/* #endregion ---- Principal ---- */

/* #region ---- Quién soy ---- */

/* #region Index */

.och-section-quiensoy-init {
    margin-top: 0 !important;

    grid-template-areas: 
        "title title title title"
        "img img img img"
        "descr descr descr descr";


    .och-title {
        height: 100vh;

        display: flex;
        align-items: flex-end;
        padding-bottom: 3.125rem;
    }

    .och-img { padding-top: 3.125rem; margin-top: 3.125rem; }
    .och-description { margin-top: 1.875rem; }
}

@include desktop {
    .och-section-quiensoy-init {
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "img img . descr descr descr descr descr descr descr descr descr";
        
        .och-img {
            margin-top: 0;
        }
    }
}

/* #endregion Index */

/* #region Info */

.och-section-quiensoy-info {
    grid-template-areas: 
        "title title title title"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3";

    .och-section-title {
        font-size: 1.5rem;
        line-height: 36px;
        margin-bottom: 17.4375rem;
    }
}

@include desktop {
    .och-section-quiensoy-info {
        grid-template-areas: 
            "title title title title title title title title title title title title"
            "card1 card1 card1 card1 card2 card2 card2 card2 card3 card3 card3 card3";

            .och-section-title {
                font-size: 2.375rem;
                line-height: 54px;
                margin-bottom: 9.5rem;
            }
    }
}

/* #endregion Info */

/* #region More Info */

.och-section-quiensoy-more {
    grid-template-areas: 
        "title title title title"
        "descr descr descr descr";

    .och-section-title { margin-bottom: 3.5rem; }
    .och-description {
        padding: 2.5rem 1.875rem;
        position: relative;
        font-family: "Libre Baskerville";
        letter-spacing: -0.025rem;
        font-size: 1rem;
        line-height: 25px;
        background-color: var(--och-green);
    }
}

@include desktop {
    .och-section-quiensoy-more {
        grid-template-areas: 
            "title title title title title title . . . . . ."
            "descr descr descr descr descr descr descr descr descr descr descr descr";

        .och-description {
            padding: 6.25rem 8.625rem;
            font-size: 2rem;
            line-height: 52px;
        }
    }
}

/* #endregion More Info */

/* #endregion ---- Quién soy ---- */