@use '../abstracts' as *;

/* #region Principal */

/* #region Index */

.och-section-index-init {
    margin-top: 0 !important;

    grid-template-areas: 
        "title title title title"
        "img img img img"
        "descr descr descr descr"
        "btn btn btn .";


    .och-title {
        height: 100vh;

        display: flex;
        align-items: flex-end;
        padding-bottom: 3.125rem;
    }

    .och-img { padding-top: 3.125rem; margin-top: 3.125rem; }
    .och-description { margin-top: 1.875rem; }
    .och-btn { margin-top: 2.5rem; }
}

@include desktop {
    .och-section-index-init {

        grid-template-areas: 
            "title title title title title title title . . . . ."
            "img img img img img . descr descr descr descr descr descr"
            "img img img img img . btn btn . . . .";
    }
}

/* #endregion Index */

/* #region Metodo */

.och-section-index-metodo {
    grid-template-areas: 
        "title title title title"
        "descr descr descr descr"
        "list list list list";

    .och-section-title { padding-bottom: 1.5rem; }
    .och-description {
        width: 100vw;
        padding: 0 var(--och-lateral-margin) 4.6875rem;

        position: relative;
        left: calc(0px - var(--och-lateral-margin));
    }

    .och-list-container {

        .och-carousel {
            display: flex;

            .och-list {
                min-width: 100vw;
                padding: 0 var(--och-lateral-margin);
    
                display: flex;
                flex-direction: column;
                align-items: center;

                position: relative;
                left: calc(0px - var(--och-lateral-margin));

                .och-list-enum { padding-bottom: .625rem; }
                .och-list-title { padding-bottom: 2.25rem; }
            }
        }

        .och-list-controller-container {
            display: flex;

            .och-list-controller {
                width: 4.875rem;
                height: 4.875rem;
                padding: 1.5rem;
                border: 1px solid var(--och-gray);;

                display: flex;
                justify-content: center;
                align-content: center;

                border-radius: 50rem;
            }
        }
    }
}

/* #endregion Metodo */

/* #region Programas */

.och-section-index-programas {
    grid-template-areas: 
        "title title title title"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3";
    row-gap: 3.125rem;
}

/* #endregion Programas */

/* #region Artículos */

.och-section-index-articulos {
    grid-template-areas: 
        "title title title title"
        "card1 card1 card1 card1"
        "card2 card2 card2 card2"
        "card3 card3 card3 card3";

    .och-card:nth-of-type(1) { margin-top: 3.75rem; }
    .och-card:nth-of-type(2), .och-card:nth-of-type(3) { margin-top: 4.625rem; }
}

/* #endregion Artículos */

/* #endregion Principal */